<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065212238714-abt8e79t99f6vpi4qllj9abpcb789c3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065212238714-abt8e79t99f6vpi4qllj9abpcb789c3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDACU34UA1UZV_CknuGg9Zqrc_3hGMFSEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1065212238714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messangerApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-he</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-he.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065212238714:ios:1e27fdf13892cf564714c3</string>
</dict>
</plist>